@import '_globals';
.interactive_exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 0.25em;
  padding: 0.25em;
  position: relative;
  overflow: auto;
  z-index: 0;
  > * {
    position: relative;
    z-index: 1;
  }
}

.interactive_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  table input {
    height: 4em;
    width: 4em;
    appearance: textfield;
    text-align: center;
  }
}

$mid: 40%;
$checkmark-hidden:  polygon($mid 0%, $mid 0%, $mid 100%, $mid 100%, $mid   0%, $mid 0%);
$checkmark-visible: polygon($mid 0%, 0%   0%, 0%   100%, 100% 100%, 100%   0%, $mid 0%);

.interactive_background {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  &::after, &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    background-image: url("../images/checkmark.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    z-index: 1;
    clip-path: $checkmark-hidden;
  }
  &::before {
    left: 0;
    top: 0;
  }
  &::after {
    right: 0;
    top: 0;
  }
}

.interactive_flash {
  animation: interactive_question_update 0.40s;
  animation-iteration-count: 1;
}

.permanent_flash {
  transition: opacity 1s;
  opacity: 1;
  &::after, &::before {
    transition: clip-path 1s;
    transition-delay: 0.5s;
    clip-path: $checkmark-visible;
  }
}

.interactive_shake {
  animation: interactive_shake 0.20s;
  animation-iteration-count: 3;
}


@keyframes interactive_question_update {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes interactive_shake {
  0% {
    translate: 0;
  }
  25% {
    translate: -1em;
  }
  75% {
    translate: 1em;
  }
  100% {
    translate: 0;
  }
}