@import '_globals';
.interactive_exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 0.25em;
  padding: 0.25em;
}
.interactive_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interactive_form table input {
  height: 4em;
  width: 4em;
  appearance: textfield;
  text-align: center;
}

.interactive_flash {
  animation: interactive_question_update 0.5s;
  animation-iteration-count: 1;
}

@keyframes interactive_question_update {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: rgba(0, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}
