@import "_globals";
@import "_breakpoint";
.tabs {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  @include breakpoint(mobile) {
    grid-template-columns: 0 auto 0;
  }
  grid-template-areas: "left main right";
}
.tab {
  position: relative;
  grid-column: main;
  display: none;
  @include breakpoint(desktop) {
    width: min($mobile-width, 100vw - 20em); /* stop growing past mobile width but give room for nav */
  }}
main.tab {
  display: block;
}
.tabs :target ~ main.tab {
  display: none;
}
.tab:target {
  display: block;
}
