@import "_globals";
@import "_breakpoint";
@keyframes grid_animation {
  0% {
    filter: contrast(0.5);
    opacity: 0.5;
  }
  50% {
    filter: contrast(0.5) hue-rotate(-70deg) brightness(105%);
    opacity: 1;
  }
  100% {
    filter: contrast(0.5);
    opacity: 0.5;
  }
}
.tabs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: grid_animation 5s infinite ease-in-out;
  background: linear-gradient(to bottom, transparent 0%, transparent 45%, $bg-color 45%, $bg-color 55%, transparent 60%, transparent 100%),
  linear-gradient(to right, transparent 0%, transparent 45%, $bg-color 45%, $bg-color 55%, transparent 60%, transparent 100%);
  background-size: 1em 1em;
  filter: contrast(0.5);
  z-index: -1;
  pointer-events: none;
}
.tab {
  background-color: $page-color;
  @mixin gradient($direction) {
    background: linear-gradient(to $direction, $page-color, rgba($page-color, 0.9) 30%, rgba($page-color, 0.1) 70%, transparent);
  }
  @include breakpoint(desktop) {
    &::before, &::after {
      content: "";
      height: 100%;
      width: 1em;
      display: block;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    &::before {
      left: 0;
      transform: translateX(-90%);
      @include gradient(left);
    }
    &::after {
      right: 0;
      transform: translateX(90%);
      @include gradient(right);
    }
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}
span.expr {
  font-family: monospace, $font-default;
}
div.expr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1em;
  span, table {
    font-family: monospace, $font-default;
    font-size: 1.5em;
  }
  span.comment {
    font-size: 1em;
    font-family: $font-default;
    color: gray;
    /* don't wrap */
    flex-basis: min-content;
    flex-grow: 1;
  }
  & > * {
    margin: 0 0.25em;
  }
}
.spoiler {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  content: "";
  background-color: black;
  color: transparent;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, transparent, $bg-color 10% 90%, transparent);
  background-position: 50% 100%;
}
.spoiler:focus {
  transition: background-color 0.5s, color 0.5s, background-size 2s ease-out;
  background-size: 100% 1px;
  cursor: revert;
  background-color: revert;
  color: revert;
}
.col {
  @include breakpoint(desktop) {
    column-count: 3;
  }
  height: min-content;
  margin: 1em 0;
}
.col > * {
  break-inside: avoid;
  border: $generic-border;
  margin: 0.5em;
  width: max-content;
}
.col > h1 {
  border: none;
  column-span: all;
  break-inside: revert;
  margin: 1em 0;
  text-align: center;
  width: 100%;
}
table.matrix {
  display: inline;
  * {
    border: none;
  }
  text-align: center;
  td {
    border: gray dotted 1px;
  }
}
.checkerboard {
  td {
    background-color: green;
  }
  tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background-color: red;
  }
}
