@import '_globals';
@import '_breakpoint';
@import '_dropdown';
@import '_tabs_navigation';
@import "_tabs_look";
@import "_interactive";
@import '_header';
@import '_footer';
@import '_notifications';
* {
  font-family: inherit;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: $font-default;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &, body {
    margin: 0;
  }
}
header, footer {
  overflow: auto; /* stop margin escape on small screens */
}
body {
  flex-grow: 1;
  height: 100%;
  background: $bg-color;
  display: flex;
  flex-direction: column;
}
