@import '_globals';
@import '_breakpoint';
label[for='nav-toggle'], #dropdown > * {
  padding: 0.25em;
}
nav {
  pointer-events: none;
  max-width: 80%;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  @include breakpoint(desktop) {
    position: sticky;
    top: 5px;
    margin: 1em auto;
    width: max-content;
  }
}
label[for='nav-toggle'] {
  pointer-events: all;
  position: relative;
  display: flex;
  cursor: pointer;
  @include breakpoint(mobile) {
    justify-content: right;
    img {
      display: inline-block;
      width: 3em;
      height: 3em;
      transition: filter 0.5s;
    }
    transition: background-color 0.5s, border 0.5s;
    nav:has(#nav-toggle:checked) & {
      border: $generic-border;
      background-color: $drop-color;
    }
    padding-right: 0.25em;
  }
  @include breakpoint(desktop) {
    width: 100%;
    border: $generic-border;
    background-color: $drop-color;
    justify-content: center;
    align-items: center;
    span {
      display: inline;
    }
    img {
      width: 1em;
      height: 1em;
    }
  }
}
#nav-toggle {
  position: fixed;
  opacity: 0;
}
#dropdown {
  transition: opacity 0.5s;
  border: $generic-border;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $drop-color;
  opacity: 0;
  pointer-events: none;
  li {
    text-align: center;
    transition: filter 0.25s ease-in-out;
    a {
      text-decoration: none;
    }
    &:hover {
      filter: contrast(1.5);
    }
    &:not(:last-child) {
      border-bottom: $generic-border;
    }
  }
}
nav:has(#nav-toggle:checked) img {
  filter: invert(1);
}
nav:has(#nav-toggle:checked) #dropdown {
  opacity: 1;
  pointer-events: all;
}
