@import '_globals';
@import '_breakpoint';
nav {
  max-width: 80%;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  @include breakpoint(desktop) {
    position: static;
    margin: 1em auto;
    width: max-content;
  }
}
nav label[for='nav-toggle'] {
  position: relative;
  display: flex;
  justify-content: right;
  cursor: pointer;
  img {
    display: inline-block;
    width: 3em;
    height: 3em;
    transition: filter 0.5s;
  }
  @include breakpoint(desktop) {
    width: 100%;
    border: $generic-border;
    background-color: $drop-color;
    justify-content: center;
    align-items: center;
    span {
      display: inline;
    }
    img {
      width: 1em;
      height: 1em;
    }
  }
}
#nav-toggle {
  position: fixed;
  opacity: 0;
}
#dropdown {
  border: $generic-border;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $drop-color;
  opacity: 0;
  pointer-events: none;
  li {
    text-align: center;
    a {
      text-decoration: none;
    }
    &:not(:last-child) {
      border-bottom: $generic-border;
    }
  }
}
@mixin select_when_dropdown_opened($target) {
  #nav-toggle:checked ~ * #{$target}, #nav-toggle:checked ~ #{$target} {
    @content;
  }
  @include breakpoint(desktop) {
    nav:hover #{$target} {
      @content;
    }
  }
}
@include select_when_dropdown_opened("img") {
  filter: invert(1);
}
@include select_when_dropdown_opened("#dropdown") {
  opacity: 1;
  pointer-events: unset;
}
