@import "_globals";
footer {
  border-top: $generic-border;
  background-color: $footer-color;
  text-align: center;
  a {
    text-decoration: none;
  }
  @media (max-width: 80ch) { /* there are about 80 characters in the credits */
    a {
      display: block;
      &:not(:last-child) {
        border-bottom: $generic-border;
      }
    }
  }
  @media not all and (max-width: 80ch) {
    a:not(:first-child)::before {
        content: "\a0\a0\a0\a0";
    }
  }
}
