p.
    Matrices are an essential mathematical concept used in fields such as computer graphics, engineering and physics.
    A matrix is a rectangular array of elements, arranged in rows and columns. However, matrices are not just compact
    ways of storing data, as there are various mathematical operations that can be performed on them but not on
    plain numbers.
p.
    The sum of two matrices is obtained by adding up the elements as usual. Similarly, the product of a matrix
    and a non-matrix number is obtained by multiplying each element by that number. However, the product of two
    matrices is a special operation that does not have an equivalent in the case of numbers.
