@import "_globals";
@import "_breakpoint";
.tab {
  background-color: $page-color;
  @mixin gradient($direction) {
    background: linear-gradient(to $direction, $page-color, rgba($page-color, 0.9) 30%, rgba($page-color, 0.1) 70%, transparent);
  }
  @include breakpoint(desktop) {
    &::before, &::after {
      content: "";
      height: 100%;
      width: 1em;
      display: block;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    &::before {
      left: 0;
      transform: translateX(-90%);
      @include gradient(left);
    }
    &::after {
      right: 0;
      transform: translateX(90%);
      @include gradient(right);
    }
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}
span.expr {
  font-family: monospace, $font-default;
}
div.expr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1em;
  span, table {
    font-family: monospace, $font-default;
    font-size: 1.5em;
  }
  span.comment {
    font-size: 1em;
    font-family: $font-default;
    color: gray;
    /* don't wrap */
    flex-basis: min-content;
    flex-grow: 1;
  }
  & > * {
    margin: 0 0.25em;
  }
}
table.matrix {
  display: inline;
  * {
    border: none;
  }
  text-align: center;
}
.spoiler {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  content: "";
  background-color: black;
  color: transparent;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, transparent, $bg-color 10% 90%, transparent);
  background-position: 50% 100%;
}
.spoiler:focus {
  transition: background-color 0.5s, color 0.5s, background-size 2s ease-out;
  background-size: 100% 1px;
  cursor: revert;
  background-color: revert;
  color: revert;
}
.col {
  column-count: 2;
  height: min-content;
}
.col > * {
  break-inside: avoid;
  border: $generic-border;
  margin: 0.5em;
  display: inline-block;
  width: max-content;
}
.col > h6 {
  border: none;
  column-span: all;
  break-inside: revert;
}