doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='An educational website about matrices.')
        link(rel='icon' href='favicon.svg')
        link(rel='stylesheet' href='style.css')
        title Matrices
    body
        header Testing
        nav Nav test
        .tabs
            main Active page
        footer Footer test
