doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='An educational website about matrices.')
        link(rel='icon' href='images/title.png')
        link(rel='stylesheet' href='styles/style.css')
        script(src='scripts/main.js' type='module')
        title Matrices
    body
        header
            img(src='images/title.png' alt='Matrix icon' width='100' height='100')
            h1 Matrix Math
        .tabs
            div: nav
                input#nav-toggle(type='checkbox')
                div.label_container: label(for='nav-toggle')
                    span Menu &emsp14;
                    img(src='images/icon-dropdown.svg' alt='Expand menu toggle icon desktop' height='50')
                ul#dropdown
                    li: a(href='#tab1') Basic Operations
                    li: a(href='#tab2') Inverse
                    li: a(href='#tab3') Multiplication Exercises
            section#tab2.tab
                include _tab2.pug
            section#tab3.tab
                include _tab3.pug
            main#tab1.tab
                include _tab1.pug
        footer
            p Proiect Tehnici Web
            a(href="https://github.com/theo543/Matrix-Math/") Source code at GitHub
            - if(typeof hash === "undefined") { hash = "unknown"; throw "Commit hash not set."; }
            p Commit #{hash}
            p Negrescu Theodor, Grupa 151, FMI
            .credits
                <a href="https://www.flaticon.com/free-icons/matrix" title="matrix icons">Matrix icons created by Freepik - Flaticon</a>
                <a href="https://www.veryicon.com/icons/commerce-shopping/evaluation-interface-of-sanfu-official-mall/icon-dropdown.html" title="three dots icons">Dropdown icon by zuozuo6351751928</a>
